.Button-1{
    width: 120px;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    background: lightskyblue;
    font-size: 16px;
    color: cornsilk;
    height: 30px;
    font-weight: bolder;
    margin: 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}